*{
     padding: 0;
     margin: 0;
     border: 0;
}
*,*::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {
     height: 100%;
     width: 100%;
     font-size: 100%;
     line-height: 1;
     font-size: 14px;
     -ms-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}



body {
     background: center repeat url('/img/fon2.jpg');
     padding: 30px;
}

h1 {
     display: block;
     text-align: center;
     margin-bottom: auto;
     font-size: 50px;
     padding: 30px;
     color: rgb(167, 107, 30);
     text-shadow: rgb(82, 45, 12);
     border: 4mm rgb(148, 93, 45);
}

ul.main-menu {
     margin-left: 0px;
     padding-left: 0px;
     list-style: none;
 }

 .main-menu li { 
     float: left;
 }

 ul.main-menu a {
     display: block;
     width: 5em;
     padding:10px;
     margin: 0px 5px 5px 150px;
     background-color: none;
     border: 1px double rgb(82, 45, 12);
     text-decoration: underline;
     color: rgb(167, 107, 30);
     text-align: center;
 }

 ul.main-menu a:hover{
     background-color: #333;
     color: #f4f4f4;
 }






